body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "node_modules/bulmaswatch/darkly/bulmaswatch";
// @import "node_modules/bulmaswatch/spacelab/bulmaswatch";

// https://video-react.js.org
@import "~video-react/styles/scss/video-react";
